<%= link_to favorite_path(recruit), method: :delete, class: "favorite-btn favorite-delete" do %>
  <div class="i far fa-thumbs-up">
    <span></span>
    <%= recruit.favorites.length %>
  </div>
<% end %>