<%= link_to favorites_path(recruit), method: :post, class: "favorite-btn favorite-recruit" do %>
  <div class="i far fa-thumbs-up" >
    <span></span>
    <%= recruit.favorites.length %>
  </div>
<% end %>