<div class="my-auto mt-5">
  <h1>ランチ募集の編集</h1>
</div>

<%= render 'form', recruit: @recruit %>
<br />

<%= link_to '詳細', @recruit, class: 'btn btn-outline-secondary' %> |
<%= link_to '一覧へ戻る', recruits_path, class: 'btn btn-outline-success' %>
